# Binários
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Arquivos de teste
*.test
*.out

# Dependências
vendor/

# Go workspace
go.work

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# OS
.DS_Store
Thumbs.db
